<link href="/stylesheets/selectPlanet.css" rel="stylesheet"/>
<main class="container">
    <!-- Nameplate area for displaying top right title screen text. -->
    <section id="details">
        <div id="planets">
            <h2>Welcom to {{planet.dataValues.planet_name}}, {{character.dataValues.char_name}}</h2>
            <h4 id="planetName">{{results.dataValues.Planet.dataValues.planet_name}}</h4>
            <button id="button1" type="button" class="nes-btn is-primary"></button>
            <button> <img>image of planet.</button>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/selectPlanet.js"></script>