<link href="/stylesheets/selectPlanet.css" rel="stylesheet"/>
<main class="container">
    <!-- Nameplate area for displaying top right title screen text. -->
    <div class="travel-planets">
            <h3 id="option1" class="planetItem">{{results.dataValues.Planet.dataValues.travel1}}</h3>
            <h3 id="option2" class="planetItem">{{results.dataValues.Planet.dataValues.travel2}}</h3>
            <h3 id="option3" class="planetItem">{{results.dataValues.Planet.dataValues.travel3}}</h3>
    </div>
    <section id="information">
        <div id="ships">

        </div>
        <h2 id="description">Select a planet to travel to..</h2>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/selectPlanet.js"></script>