<link href="/stylesheets/startingPlanet.css" rel="stylesheet"/>
<main class="container">
    <!-- Nameplate area for displaying top right title screen text. -->
    <header id="details">
        <div id="planetInfo">
            <h3 class="title">Currently playing on</h3>
            <h2 id="planet">{{results.dataValues.Race.dataValues.Planet.dataValues.planet_name}}</h3>
        </div>
        <div id="characterInfo">
            <h3 class="title">Currently playing as</h3>
            <h1 id="name">{{results.dataValues.char_name}}</h1>
        </div>
        <div id="professionInfo">
            <h3 class="title">Professioning as</h3>
            <h1 id="profession">{{results.dataValues.Profession.dataValues.profession}}</h1>
        </div>
    </header>
    <section id="content">
        <div id="ships">
            <h4 id="shipLabel"></h4>
        </div>
        <div id="play"> 
            <button id="next"  type="button" class="nes-btn is-primary">Next</button>
        </div>
        <div id="instructions">
            <p>
                1. Select a planet to travel to on the next page.
            </p>
            <p>
                2. Wait and see if you found resources or got eliminated by hostiles.
            </p>
            <p>
                3. Return to home planet to deposit resources and earn score.
            </p>
        </div>
    </section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/startingPlanet.js"></script>