<link href="stylesheets/splash.css" rel="stylesheet"/>
<main class="container">

</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/splash.js"></script>