.container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    height: 100%;
}

.travel-planets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.planetItem {
    height: 300px;
    background: url("../images/selectPlanet/option1.png") right top / contain no-repeat;
}

